<div class="landing-container">
   {% for index in (1..75) %}
   <div class="snowflake"></div>
   {% endfor %}
   <div class="landing-content">
   <div class="row justify-content-center align-items-center p-4">
      <div class="col-lg-4 col-md-6 text-center mt-4">
         <!-- Fine Circle Responsive Image -->
         <div id="container" class="my-2 profile-container">
            <div id="dummy"></div>
            <div id="element">
               <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image profile-image">
            </div>
         </div>
         <p class="landing-description">{{ site.description }}</p>
      </div>
   </div>
   <div style="height: 10px"></div>
   <div class="latest-posts-container">
      <h5 class="latest-posts-title">
         <i class="fa-solid fa-blog me-2"></i>Latest blog posts
      </h5>
      <div class="latest-posts-list">
      {% for post in site.posts limit:5 %}
         <a href="{{ post.url | relative_url }}" class="latest-post-item">
            <i class="fa-regular fa-file-lines me-2"></i>
            <span>{{ post.title }}</span>
            <i class="fa-solid fa-arrow-right ms-auto"></i>
         </a>
      {% endfor %}
      </div>
      <div style="height: 20px"></div>
   </div>
   </div>
</div>