@import "_mixins";

$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
  "paleCerulean": #98c1d9,
  "sunray": #f4b860,
  "darkOrange": #F78166,
  "beige": #E0C097,
  "lightYellow": #FFDD93
);

$text-black: #343a40;
$text-white: rgba(white, 0.9);

$rounded-borders: 15px;

// https://getbootstrap.com/docs/4.0/getting-started/theming/#maps-and-loops
@each $color, $value in $theme-colors {
  .border-#{$color} {
    border-color: $value !important;
  }
  .badge-#{$color} {
    @include themed(background-color, $value, rgba($value, .5));
    font-size: small;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
