---
---

@import "portfolYOU";

.mark, mark {
    padding: .1em;
    background-color: #fff2de; // more colors: https://www.eggradients.com/shades-of-yellow
}

u {
    text-decoration-color: #FAA990; // https://www.pinterest.com/pin/34480753387965200
}