---
layout: page
title: Reading
permalink: /reading/
weight: 4
---

{% assign currentYear = 'now' | date: "%Y" | times: 1 %}
{% assign finishedBooks = site.data.reading.current | where: "finished", "true" %}
{% assign unfinishedBooks = site.data.reading.current | where: "finished", "false" %}

<h1>📚 Reading Overview</h1>
You can find my favourite resources <a href="{{ site.url }}/resources">here</a>.

<h2>Current</h2>
<h4>Next</h4>
<ul style="line-height: 1.5em;">
    {% for book in unfinishedBooks %}
        <li>
            <a href="{{ book.url }}" target="_blank">
                {{ book.name }}
            </a>
            ({{ book.category }})
        </li>
    {% endfor %}
</ul>

<h4>Finished</h4>
<ul style="line-height: 1.5em;">
    {% for book in finishedBooks %}
        <li>
            <a href="{{ book.url }}" target="_blank">
                {{ book.name }}
            </a>
            ({{ book.category }})
        </li>
    {% endfor %}
</ul>

<h2>Reading history</h2>

{% assign history = site.data.reading.history %}
{% assign books_read = 0 %}
{% for entry in history %}
  {% assign books_read = books_read | plus:entry.books.size %}
{% endfor %}

You can find the {{ books_read }} books I've read in previous years <a href="{{ page.url | append:"history/" }}">here</a>.