<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for timelineEntry in site.data.timeline %}
    <div class="timeline-item">
      <div class="content" {% if timelineEntry.hideBorder == true %} style="border-bottom: 0px; padding-bottom: 0px;"{% endif %}>
        <h2>
          {{ timelineEntry.job }} @
          <a target="_blank" href="{{ timelineEntry.companyUrl }}"
            >{{ timelineEntry.companyName }}</a
          >
        </h2>
        {% if timelineEntry.to != null %}
        
        <h6 class="date"><i class="fas fa-calendar"></i> {{ timelineEntry.from }} — {{ timelineEntry.to }}</h6>
        {% else %}
        <h6 class="date"><i class="fas fa-calendar"></i> since {{ timelineEntry.from }}</h6>
        {% endif %}
        <p>{{ timelineEntry.details }}</p>
        {% if timelineEntry.appstoreUrl != null %}
        <a
          target="_blank"
          href="{{ timelineEntry.appstoreUrl }}"
          style="
            display: inline-block;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            margin-top: 0px;
            width: 150px;
            height: 50px;
          "
          ><div class="img appstore-badge"></div
        ></a>
        <div style="height: 10px;"></div>
        {% endif %}
        
        {% if timelineEntry.responsibilities.size > 0 %}
        <h4>Responsibilities & achievements</h4>
        <ul>
          {% for responsibility in timelineEntry.responsibilities %}
          <li style="line-height: 1.5em;">{{ responsibility }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if timelineEntry.techStack.size > 0 %}
        <h4>Tech Stack</h4>
        {% for item in timelineEntry.techStack %}
        <span class="badge-paleCerulean" style="color: white; display: inline-block; margin: 2px;">{{ item }}</span>
        {% endfor %}
        {% endif %}

      </div>
    </div>
    {% endfor %}
  </div>
</div>
